%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml

=link_to "sign in box.com", "https://account.box.com/api/oauth2/authorize?response_type=code&client_id=	buq4gus2fhoariwcaq0r15nf6l2u8auf&state=hello&redirect_uri=https://117.121.10.67:3001/redirects/box"
